<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.windfallsheng.componentbasedaction.module_main">

    <application>
        <activity
            android:name=".views.LaunchActivity"
            android:theme="@style/LaunchActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.AdvertisingActivity"
            android:theme="@style/LaunchActivityTheme" />
        <activity
            android:name=".views.MainActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>